

{% block onlineError %}
    <div style="padding-top: 20vh;"></div>
      <div class="text-center my-4">
        <div class="p-3 bg-light border border-danger">
            <h1 class="display-4 text-danger font-weight-bold" style="font-size: 3rem;">You need to turn on the cansat to see the Data</h1>
            <div style="height: 2vh;"></div>
            <a href="/" class="display-4 text-danger font-weight-bold" style="font-size: 2rem;"> Return to the Homepage to turn on the Cansat!</a>
        </div>
      </div>
    <div style="padding-bottom: 20vh;"></div>
{% endblock %}