<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_db0fe7c136a97309dfb3a695c3fee105 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_db0fe7c136a97309dfb3a695c3fee105" ></div>
        
</body>
<script>
    
    
            var map_db0fe7c136a97309dfb3a695c3fee105 = L.map(
                "map_db0fe7c136a97309dfb3a695c3fee105",
                {
                    center: [45.5236, -122.675],
                    crs: L.CRS.EPSG3857,
                    zoom: 13,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_fbc74bd247200ead18957dd295dcb8e3 = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/toner/{z}/{x}/{y}.png",
                {"attribution": "Map tiles by \u003ca target=\"_blank\" href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_db0fe7c136a97309dfb3a695c3fee105);
        
    
            var marker_aeee938b52d141415a4048f58542a9af = L.marker(
                [15.12179352108626, 67.20764172120306],
                {}
            ).addTo(map_db0fe7c136a97309dfb3a695c3fee105);
        
    
            var marker_f16cddaa76bd85642d3614d6ef33d4b4 = L.marker(
                [15.12179352108626, 67.20764172120306],
                {}
            ).addTo(map_db0fe7c136a97309dfb3a695c3fee105);
        
    
            var marker_23dace9dccd66eb71b3c0f50738b3336 = L.marker(
                [15.12179352108626, 67.20764172120306],
                {}
            ).addTo(map_db0fe7c136a97309dfb3a695c3fee105);
        
    
            var marker_a91510c18fb78d8a62b05edb5789cd48 = L.marker(
                [15.12179352108626, 67.20764172120306],
                {}
            ).addTo(map_db0fe7c136a97309dfb3a695c3fee105);
        
    
            var marker_f6c331ba22a25324050e83af309c0411 = L.marker(
                [15.12179352108626, 67.20764172120306],
                {}
            ).addTo(map_db0fe7c136a97309dfb3a695c3fee105);
        
    
            var marker_832af81b4a1b667c51b186b5bdfe08e1 = L.marker(
                [15.12179352108626, 67.20764172120306],
                {}
            ).addTo(map_db0fe7c136a97309dfb3a695c3fee105);
        
    
            var marker_e116d11defbf24d3d7fc505f5f1a3c44 = L.marker(
                [15.12179352108626, 67.20764172120306],
                {}
            ).addTo(map_db0fe7c136a97309dfb3a695c3fee105);
        
    
            var marker_53bb34c742c2bc4b98d8f75b0baa0d5a = L.marker(
                [15.12179352108626, 67.20764172120306],
                {}
            ).addTo(map_db0fe7c136a97309dfb3a695c3fee105);
        
    
            var marker_47b5bcf4f2e551ebb15c512ee84595ed = L.marker(
                [15.12179352108626, 67.20764172120306],
                {}
            ).addTo(map_db0fe7c136a97309dfb3a695c3fee105);
        
    
            var marker_fa5a191994572beba14cd8e1ba54b184 = L.marker(
                [15.12179352108626, 67.20764172120306],
                {}
            ).addTo(map_db0fe7c136a97309dfb3a695c3fee105);
        
    
            var marker_7597598420f2ce7c79781bb8c4cc1d4d = L.marker(
                [15.12179352108626, 67.20764172120306],
                {}
            ).addTo(map_db0fe7c136a97309dfb3a695c3fee105);
        
</script>
</html>