{% extends "base.html" %}
{% block title %}Telemetry Data{% endblock %}

{% block content %}
<style>
    .chartBox {
        width: 100vh;
        height: 42vh;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .spacer {
        padding-top: 5vh;
    }
</style>

{% if online == True %}
<div class="container-fluid">

    <h5 class="display-4 spacer" style="text-align: center;">Temperature</h5>
    <div class="col-sm-6 col-md-4 chartBox">
        <div class="chart-box chartBox">
            {% set tempIpAdress = graphUrl + ":5200" %}
            <iframe src={{tempIpAdress}} style="width: 100vh; height: 100%;"></iframe>
        </div>
    </div>

    <h5 class="display-4 spacer" style="text-align: center;">Atmospheric Temperature</h5>
    <div class="col-sm-6 col-md-4 chartBox">
        <div class="chart-box chartBox">
            {% set pressureIpAdress = graphUrl + ":5100" %}
            <iframe src="{{pressureIpAdress}}" style="width: 100vh; height: 100%;"></iframe>
        </div>
    </div>

    <h5 class="display-4 spacer" style="text-align: center;">Pressure</h5>
    <div class="col-sm-6 col-md-4 chartBox">
        <div class="chart-box chartBox">
            {% set pressureIpAdress = graphUrl + ":5400" %}
            <iframe src="{{pressureIpAdress}}" style="width: 100vh; height: 100%;"></iframe>
        </div>
    </div>


    <h5 class="display-4 spacer" style="text-align: center;">Humidity</h5>
    <div class="col-sm-6 col-md-4 chartBox">
        <div class="chart-box chartBox">
            {% set humidityIpAdress = graphUrl + ":5300" %}
            <iframe src="{{humidityIpAdress}}" style="width: 100vh; height: 100%;"></iframe>
        </div>
    </div>

    <h5 class="display-4 spacer" style="text-align: center;">Orientation</h5>
    <div class="col-sm-6 col-md-4 chartBox">
        <div class="chart-box chartBox">
            {% set orientationIpAdress = graphUrl + ":5500" %}
            <iframe src="{{orientationIpAdress}}" style="width: 100vh; height: 100%;"></iframe>
        </div>
    </div>

    <div class="col-sm-6 col-md-4 chartBox">
        <div class="chart-box chartBox">
            <canvas id="chart5"></canvas>
        </div>
    </div>

    <div class="col-sm-6 col-md-4 chartBox">
        <div class="chart-box chartBox">
            <canvas id="chart6"></canvas>
        </div>
    </div>

</div>
</div>
{% else %}
{% include 'error.html' %}
{% endif %}

{% endblock%}